body {
  background-color: ;
}

/* цвет основного текста #212121 */
/* цвет дополнительного текста #757575 */
/* белый текст #FFFFFF */
/* акцент-синий текст #2196F3 */

.logo {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}
