:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --studio-text: #000000;
}
body {
  background-color: ;
}

/* цвет основного текста #212121 */
/* цвет дополнительного текста #757575 */
/* белый текст #FFFFFF */
/* акцент-синий текст #2196F3 */

.logo {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--studio-text);
}
ul {
  list-style: none;
}
.header-nav a {
  color: var(--title-text-color);
}
.header-nav a:hover,
.header-nav a:focus {
  color: var(--accent-color);
}
.header-adress a {
  color: var(--primary-text-color);
}
.header-adress a:hover,
.header-adress a:focus {
  color: var(--accent-color);
}
.section-title {
  color: var(--title-text-color);
}
.advantages-title .title {
  color: var(--title-text-color);
}
